<h1>Datos Personales</h1>

<ul>
    <li>Nombre: {{user.name}}</li>
    <li>Apellido: {{user.surname}}</li>
    <li>Edad: {{user.age}}</li>
    <li>Correo: {{user.email}}</li>
    <li>Teléfono: {{user.phone}}</li>
</ul>